<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="stylesheets/splash.css" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Press+Start+2P'>
    </head>

    <title>The splash</title>
    <main>
        <div class="greetingBox">
            <h1>Welcome to Connect 4</h1>
            <h2>By Matteo and Luca</h2>
        </div>
        <div id="playDiv">
            <a class="start-btn" href="/game">PLAY</a>
        </div>
        <p>
            Statistics:
            <ul>
                <li>Games played so far: <%= gamesInitialized %></li>
                <li>Server up time: <%= serverUpTime %> seconds</li>
                <li>You have connected <span id="connectionsNumber"></span> times</li>
            </ul>
        </p>
    </main>
    <script>
        let cookies = document.cookie.split("; ");
        for (const cookie of cookies) {
            let connectionsNumber = cookie.split("=");
            if (connectionsNumber[0] == "connectionsNumber")
            {
                document.getElementById("connectionsNumber").innerHTML = connectionsNumber[1];
            }
        }
    </script>
</html>