<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="stylesheets/splash.css" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Press+Start+2P'>
    </head>

    <title>The splash</title>
    <main>
        <div class="greetingBox">
            <h1>Welcome to Connect 4</h1>
            <h2>By Matteo and Luca</h2>
        </div>
        <div id="playDiv">
            <a class="start-btn" href="/game">PLAY</a>
        </div>
        <p>
            Statistics:
            <ul>
                <li>Games played so far: <%= gamesInitialized %></li>
                <li>Players who have said this is the best game they have ever played: 4040</li>
            </ul>
        </p>
    </main>
</html>