@import "style.css";


body {
    height: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(to bottom right, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

#boardContainer {
    position: absolute ;
    padding: 10px;
}

#board {
    position: absolute;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;

    z-index: 1;
    clear: both;
    border-radius: 10%;
    border-color: cornflowerblue;
    border: 5px solid cornflowerblue;
    top: 50px;
    width: 700px;
    height: 500px;
    padding-top: 25px;
    background-color: blue;
}

.row:hover{
    border-radius: 10%;
    background: rgb(79, 79, 253);
}

#circleToAdd {
    position: absolute;
    z-index: -100;
}

@keyframes animateMatteo {
    0% {left: 0%; top: 80%;}
    25% {left: 0%; top: 0%;}
    50% {left: 50%; top: 50%;}
    75% {left: 80%; top: 0%;}
    100% {left: 80%; top: 80%;}
}
#photoMatteo {
    position: fixed;
    border-radius: 50%;
    z-index: 10;
    width: 150px;
    animation-name: animateMatteo;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#secretButton {
    height: 50px;
    width: 50px;
    float: right;
}

/*.circlePlacedTrigger {
    float: left;
    width: 100px;
    height: 575px;
    background-color: red;
}

.circlePlacedTrigger:nth-of-type(n) {
    left: 100*n;
}*/

.row {
    float: left;
}

.circle {
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 50%;
    background-color: rgb(51, 255, 0);
}

.white {
    background-color: rgba(255, 255, 255, 0.897);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.76);
}

.red {
    background-color: rgba(255, 0, 0, 0.747);
}

#circleToAdd
{
    position: fixed;
}

p {
    font-size: larger;
    color: blue;
}

#comunicationTextField 
{
    float: right;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
